body{
    background-color: antiquewhite;
}
button{
    margin-left: 5px;
    margin-right: 5px;
}
.forms-container{
    width: 20%;
    margin: auto;
}
.buttons{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.img {
    width: 100px;
    height: auto;
}
